<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Th is is <%=1+2%>the home page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vitae doloribus ut. Aliquam, fugit et adipisci vitae molestiae ducimus animi, ex porro architecto maiores quia id labore voluptate iste. Maxime?
        Sequi ad atque dolores culpa delectus nulla deleniti, debitis corporis dicta autem maxime obcaecati totam ipsam est reprehenderit eligendi quam perspiciatis praesentium esse! Impedit maxime, quis expedita neque totam ipsa!
         laboriosam odit repudiandae minima voluptates. Corporis accusamus accusantium commodi illo reiciendis adipisci nisi doloribus voluptas iure debitis dolore quos, perferendis harum aut. Temporibus nihil modi eius nostrum.
        Unde corrupti reiciendis ratione obcaecati provident, corporis eos ipsa repellendus nam veniam et quia doloremque consectetur eum illo id delectus quis fugit facere cumque consequuntur a nobis saepe sapiente? Mollitia!
        Aperiam adipisci accusamus fuga maxime neque reprehenderit iure voluptates ad, laborum consectetur officia nihil placeat sit ducimus, quasi enim odit natus, illum suscipit. Recusandae tenetur nostrum aut. Facere, qui praesentium!
        Tempora libero tenetur dolorum et excepturi tempore corporis laborum modi beatae similique, rem vitae vero ipsum, minus deserunt est doloribus nostrum adipisci earum voluptate? Autem dolores harum rerum labore i
    </p>
    <h3><%=[1,2,3,4,5][0]%></h3>
    <button>Click me</button>
</body>
</html>